.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
#settings.py
__init__.py

#serving_counting
checkpoint/

### Django ###
*.log
*.pot
*.pyc
__pycache__/

### Django migrations ###
!smartsuite/core/migrations/__init__.py
!smartsuite/smartcounting/migrations/__init__.py

# Django media
media/

# extra extensions
*.csv

#local_settings.py

# Celery
*.pid
smartsuite/celerybeat-schedule.db
!smartsuite/smaRtSuite/__init__.py

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/

# Redis
redis/data/*




